<h1>Completed Totos</h1>
<% @tasks.each do |task| %>
	<div class="tasks">
		<ul>
			<li>Task: <%= task.title %></li>
			<li>Category: <%= task.category %></li>
			<li>Priority: <%= task.priority %></li>
			<li>Complete: <%= task.is_completed %></li>
		</ul>
	</div>
<% end %>