<h1>Toto List</h1>
<% @tasks.each do |task| %>
	<div class="tasks">
		<ul>
			<li>Task: <%= task.title %></li>
			<li>Category: <%= task.category %></li>
			<li>Priority: <%= task.priority %></li>
		</ul>
	</div>
<% end %>