<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Toto List", root_path, class: "navbar-brand" %>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "New", new_path %></li>
        <li><%= link_to "Completed", completed_path %></li>
      </ul>
    </nav>
  </div>
</header>